wallet:
  # Path to wallet.
  path: /path/to/wallet.json
  # Account address. If omitted default one will be used.
  address: NfgHwwTi3wHAS8aFAN243C5vGbkYDpqLHP
  # Password to decrypt wallet.
  passphrase: pwd

pprof:
  enabled: true # Enable pprof.
  address: localhost:8091
prometheus:
  enabled: true # Enable metrics.
  address: localhost:8092

logger:
  # Log level.
  level: debug
  encoding: console
  timestamp: true

pool:
  # Timeout to dial node.
  node-dial-timeout: 10s
  # Timeout to check node health during rebalance.
  healthcheck-timeout: 5s
  # Interval to check nodes' health.
  rebalance-timer: 30s
  # The number of errors on connection after which node is considered as unhealthy.
  error-threshold: 100
  # By default, add a Timestamp to the object upon creation.
  default-timestamp: false
  # Timeout for waiter container operations.
  container-ops-timeout: 10s
  # Polling interval for container operation waiter (half a block, but not less than 50ms by default).
  container-ops-poll-interval: 100ms

  # Nodes configuration.
  # This configuration make gateway use the first node (grpc://s01.neofs.devenv:8080)
  # while it's healthy. Otherwise, gateway use the second node (grpc://s01.neofs.devenv:8080)
  # for 10% of requests and the third node for 90% of requests.
  peers:
    - address: grpc://s01.neofs.devenv:8080
      # Until nodes with the same priority level are healthy
      # nodes with other priority are not used.
      # Ð•he lower the value, the higher the priority.
      priority: 1
      # Load distribution proportion for nodes with the same priority.
      weight: 1
    - address: grpc://s02.neofs.devenv:8080
      priority: 2
      weight: 1
    - address: grpc://s03.neofs.devenv:8080
      priority: 2
      weight: 9

server:
  endpoints:
    # The IP and port to listen on.
    - address: localhost:8081
      # The full URL address needs to be shown in the API documentation,
      # including the scheme (http/https), host, and port.
      # If not set, will be generated from `address` and `tls.enabled`.
      external-address: https://localhost:8091
      tls:
        # Use TLS for a gRPC connection (min version is TLS 1.2).
        enabled: true
        # The certificate file to use for secure connections.
        certificate: tls.crt
        # The private key file to use for secure connections (without passphrase).
        key: tls.key
        # The certificate authority certificate file to be used with mutual tls auth.
        ca-certificate: ca1.crt
      # Sets the TCP keep-alive timeouts on accepted connections.
      # It prunes dead TCP connections ( e.g. closing laptop mid-download).
      keep-alive: 3m
      # Maximum duration before timing out read of the request.
      read-timeout: 60s
      # Maximum duration before timing out write of the response.
      write-timeout: 60s

    - address: localhost:8080
      external-address: http://localhost:8090
      tls:
        enabled: false
        certificate: /path/to/tls/cert
        key: /path/to/tls/key
        ca-certificate: /path/to/tls/ca
      keep-alive: 3m
      read-timeout: 30s
      write-timeout: 30s

  # Grace period for which to wait before killing idle connections.
  cleanup-timeout: 10s
  # Grace period for which to wait before shutting down the server.
  graceful-timeout: 15s
  # Controls the maximum number of bytes the server will read parsing the request header's keys and values,
  # including the request line. It does not limit the size of the request body.
  max-header-size: 1000000
  # Limit the number of outstanding requests.
  listen-limit: 0
  # Gate's NNS name
  nns-name: "rest.gate"
