name: Tests

on:
  pull_request:
    branches:
      - master
    types: [opened, synchronize]
    paths-ignore:
      - '**/*.md'
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    uses: nspcc-dev/.github/.github/workflows/go-linter.yml@master

  cover:
    name: Coverage
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          cache: true
          go-version: '1.26'

      - name: Test and write coverage profile
        run: make cover

      - name: Upload coverage results to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: nspcc-dev/neofs-rest-gw
          fail_ci_if_error: true
          files: ./coverage.txt
          verbose: true

  tests:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go_versions: [ '1.25', '1.26' ] # The latest is used by Coverage already.
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          cache: true
          go-version: '${{ matrix.go_versions }}'

      - name: Run tests
        run: make test
